<link rel="stylesheet" href="stylesheets/home.css">
<script src="/js/homepage.js"></script>

<main>
   <div class="sidebar">
      <div><a> Home</a></div>
      <div><a href="/settings">Settings</a></div>
      <div><a href="/logout">Log Out</a></div>
   </div>
   <div class="content">
      <div class="feed">
         {{#if myTopics}}
         <div class="createNew">
            <input type="text" id="newTopic" placeholder="topic name">
            <textarea id="desc" placeholder="Description"></textarea>
            <input type="text" id="region" placeholder="Region..">
            <select>
               {{#optionFiller regions}}
               <option value="{{region_id}}">{{region_name}}</option>
               {{/optionFiller}}
            </select>
            <button onclick="postNewTopic()">Post</button>
         </div>
         {{#listTopics myTopics}}
         <div class="topic">
            <h2>{{topic_name}}</h2>
            <p>{{description}}</p>
         </div>
         {{/listTopics}}
         {{else}}
            {{> newUser}}
         {{/if}}
      </div>
      <div class="yours">
         <div id="myPosts">
            Create a Topic to see your topics here!
         </div>
      </div>
   </div>
</main>